- @page_title = t('shoppe.orders.orders')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.orders.new_order'), :new_order, :class => 'button green'
    = link_to t('shoppe.orders.search_orders'), '#', :class => 'button', :rel => 'searchOrders'
  %h2.orders
    = t('shoppe.orders.orders')
    %span= page_entries_info @orders

= render 'search_form'

.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.orders.number')
        %th= t('shoppe.orders.customer')
        %th= t('shoppe.orders.status')
        %th= t('shoppe.orders.products')
        %th= t('shoppe.orders.total')
        %th= t('shoppe.orders.payment')
    %tbody
      - if @orders.empty?
        %tr.empty
          %td{:colspan => 6}= t('shoppe.orders.no_orders')
      - else
        - for order in @orders
          %tr
            %td= link_to order.number, order
            %td= order.customer_name
            %td= status_tag order.status
            %td
              %ul
                - for item in order.order_items
                  %li
                    #{item.quantity} x #{item.ordered_item.full_name}
                    %br
                    - if !item.extra_info.blank?
                      - for line in item.extra_info
                        = "- #{line}"
                        %br
            %td= number_to_currency order.total
            %td= boolean_tag order.paid_in_full?, nil, :true_text => number_to_currency(order.amount_paid), :false_text => number_to_currency(order.amount_paid)
= paginate @orders
